@use '../styles/abstracts/variables' as var;
@use '../styles/abstracts/mixins' as mixin;

.addDataContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var.$spacing-lg;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 20px;

    // Smartphone (standard)
    @media (max-width: var.$breakpoint-sm) {
        max-width: 370px;
    }
    
    // Smartphone (max)
    @media (min-width: 400px) and (max-width: var.$breakpoint-sm) {
        max-width: 380px;
    }

    // Smartphone (horizontal)
    @media (min-width: var.$breakpoint-sm) and (max-width: var.$breakpoint-lg) and (max-height: var.$breakpoint-height-sm) {
        max-width: 480px;
    }
}

.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var.$spacing-md;
    max-width: var.$breakpoint-lg;
    width: 85%;
    border-radius: var.$radius-md;
    border: 1px solid var(--color-border);
    box-shadow: var(--shadow-border-glow);
    padding: 15px;
}

.inputRow {
    display: flex;
    max-width: var.$max-width-content;
    min-width: var.$min-width-input;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var.$spacing-sm;
}

.label {
    font-family: var.$font-family-base;
    font-size: var.$font-size-md;
    font-weight: var.$font-weight-medium;
    color: var(--color-text-main);
    align-self: flex-start;
    text-align: left;
}

.inputField {
    max-width: var.$max-width-content;
    min-width: var.$min-width-input;
    width: 100%;
    padding: var.$spacing-sm;
    border: 1px solid var(--color-border);
    border-radius: var.$radius-sm;
    box-sizing: border-box;
    font-size: var.$font-size-md;
    font-family: var.$font-family-base;
    background-color: var(--color-surface);
    color: var(--color-text-main);

    &::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &[type="date"] {
        // Text rechtsbündig halten (wie bei den Zahlen)
        text-align: left;
        // Sorgt dafür, dass der Text im Feld gut aussieht, wenn kein Value gesetzt ist
        font-family: inherit; 
    }
}

.inputField:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--color-primary);
}