@use '../styles/abstracts/variables' as var;

.formContainer{
    display: flex;
    flex-direction: column;
    gap: var.$spacing-md;
    align-self: stretch;
    width: 100%;
}

.inputEmail {
    padding: var.$spacing-sm;
    border: 1px solid var(--color-border);
    border-radius: var.$radius-sm;
    font-size: var.$font-size-md;
    font-family: var.$font-family-base;
    background-color: transparent;
    color: var(--color-text-main);
}

.inputEmail:focus-within {
    outline: none;
    box-shadow: none;
    border-color: var(--color-primary);
}

.infoText {
    font-size: var.$font-size-md;
    font-family: var.$font-family-base;
    color: var(--color-text-secondary);
    margin-bottom: var.$spacing-md;
    text-align: left;
    min-width: var.$min-width-input;

    @media (max-width: var.$breakpoint-md) {
        margin-bottom: var.$spacing-sm;
        text-align: center;
    }
}

.passwordField{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    gap: var.$spacing-sm;
    border: 1px solid var(--color-border);
    border-radius: var.$radius-sm;
}

.inputPassword {
    padding: var.$spacing-sm;
    border: none;
    width: 100%;
    font-size: var.$font-size-md;
    font-family: var.$font-family-base;
    background-color: transparent;
    color: var(--color-text-main);
}

.inputPassword:focus {
  outline: none;
  box-shadow: none;
}

.passwordField:focus-within {
  border-color: var(--color-primary);
}

.togglePasswordBtn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 15px;
    border: none;
    background-color: transparent;
}
