@use '../styles/abstracts/variables' as var;


.trackedEnergyCard {
    width: 95%;
    background-color: var(--color-surface);
    border: 1px solid var(--color-border);
    border-radius: var.$radius-md;
    padding: 0px;
    padding-right: calc(2*var.$spacing-sm);
    
    // Nutzt deinen vordefinierten Glow-Effekt aus der _global.scss
    box-shadow: var(--shadow-border-glow); 
    
    // Smartphone (standard)
    @media (min-width: var.$breakpoint-xs) and (max-width: var.$breakpoint-sm)  {
        max-width: 360px;
        padding: 0px;
        padding-right: calc(2*var.$spacing-sm);
        border-radius: var.$radius-sm;
    }

    // Selektiert die Recharts-Wrapper-Klassen und das SVG selbst
    :global(.recharts-wrapper), 
    :global(.recharts-surface) {
        outline: none !important;
    }
    
    :global(.recharts-wrapper) * { // Der Stern (*) wendet es auf alle Kind-Elemente (Balken, Punkte, etc.) an
        outline: none !important;
        -webkit-tap-highlight-color: transparent; // Entfernt zusätzlich den blauen Tap-Hintergrund auf Smartphones
    }
}

.chartTitle {
    margin: var.$spacing-md 0;  
    text-align: center; 
    font-size: var.$font-size-lg;
    font-weight: var.$font-weight-bold;
    padding-left: calc(var.$spacing-sm);
    width: 100%;

    // Farbe passt sich automatisch an Light/Dark Theme an
    color: var(--color-text-main); 
}

.noData {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: var.$spacing-sm;
    width: 100%;
    min-height: 50px;
    font-size: var.$font-size-md;
    font-weight: var.$font-weight-medium;
}

.infoText {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    white-space: pre-line;
    padding-left: var.$spacing-lg;
    width: 100%;
    min-height: 50px;
    font-size: var.$font-size-sm;
    font-weight: var.$font-weight-light;
    margin: 5px;

    // Smartphone (standard)
    @media (min-width: var.$breakpoint-xs) and (max-width: var.$breakpoint-sm)  {
        margin: 0px;
        padding-left: var.$spacing-sm;
        margin-bottom: 5px;
    }
}