@use '../styles/abstracts/variables' as var;


.elementContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
    min-width: 20vw;
    width: 25vw;
    height: 100%;

    // Tablet (vertikal)
    @media (max-width: var.$breakpoint-xl) and (min-width: var.$breakpoint-md) {
        min-width: 28vw;
    }
}

.menuBarContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    color: var(--color-text-main);
    height: 100%;
    width: 100%;
}

.divider {
    width: 1px;
    background-color: var(--color-text-main);
    border-radius: 2px;
    margin-left: var.$spacing-md;
    height: 100%; 
}

.menuItemsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: inherit;
    gap: var.$spacing-md;
    width: 100%;
    height: 100%;
    margin-top: 40px;
    padding-right: var.$spacing-md;
}

.menuItem {
        // Flexbox ordnet Bild und Text nebeneinander an
        display: flex;
        flex-direction: row;
        align-items: center; 
        justify-content: flex-start;
        gap: var.$spacing-sm; // Abstand zwischen Icon und Text

        // Klickbarer Bereich und Aussehen
        width: 100%;
        padding: 10px 0px; 
        border-radius: var.$radius-sm;
        text-decoration: none;
        color: var(--color-text-main, #333333); 
        font-size: var.$font-size-md; 
        transition: all 0.2s ease;

        img {
            flex-shrink: 0;
            object-fit: contain;
            margin-left: 10px;
        }

        &:hover {
            background-color: var(--color-primary-hover); 
        }
    }

    // Aktiver Zustand
    .active {
        background-color: var(--color-primary-hover);
        font-weight: var.$font-weight-bold;
    }

.logoutButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: var.$spacing-sm;
    border: none;
    text-align: center;
    padding-right: var.$spacing-md;
    margin-bottom: 5px;
    border-radius: var.$radius-sm;
    font-size: var.$font-size-md;
    font-weight: var.$font-weight-medium;
    font-family: var.$font-family-base;
    background-color: var(--color-logout-button);
    color: var(--color-button-text);
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    &:hover{
        background-color: var(--color-primary-hover);
        box-shadow: var(--shadow-border-glow);
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    // Tablet Mini
    @media (max-width: var.$breakpoint-md) and (min-width: var.$breakpoint-sm) {
        margin-left: var.$spacing-sm;
        margin-bottom: var.$spacing-sm;
    }
}