@use '../styles/abstracts/variables' as var;


.elementContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
    width: 25vh;
    height: 100%;
}

.menuBarContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    color: var(--color-text-main);
    height: 100%;
    width: 100%;
}

.divider {
    width: 1px;
    background-color: var(--color-text-main);
    border-radius: 2px;
    margin-left: var.$spacing-lg;
    height: 100%; 
}

.menuItemsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: inherit;
    gap: var.$spacing-md;
    width: 100%;
    height: 100%;
    margin-top: 40px;
    padding-left: var.$spacing-sm;

    a {
        text-decoration: none;
        color: var(--color-text-main, #333333); 
        font-size: var.$font-size-md; 
        transition: color 0.2s ease;
        
        &:hover {
            color: var(--color-primary, #007bff); 
        }

        // react-router-dom hängt automatisch die Klasse "active" an, wenn die Route ausgewählt ist. 
        &.active {
            color: var(--color-primary, #007bff);
            font-weight: bold;
        }
    }
}

.logoutButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: var.$spacing-sm;
    border: none;
    text-align: center;
    padding-right: var.$spacing-lg;
    border-radius: var.$radius-sm;
    font-size: var.$font-size-md;
    font-weight: var.$font-weight-medium;
    font-family: var.$font-family-base;
    background-color: var(--color-logout-button);
    color: var(--color-button-text);
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    &:hover{
        background-color: var(--color-primary-hover);
        box-shadow: var(--shadow-border-glow);
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}