@use '../styles/abstracts/variables' as var;

.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    min-height: 50vh;
    min-width: calc(var.$breakpoint-sm - (2.65 * var.$spacing-lg));
    max-width: 100%;
    border: 1px solid var(--color-border);
    border-radius: var.$radius-md;
    padding: var.$spacing-lg;
    background-image: var(--app-background-image);
    background-color: var.$color-surface-light;
    box-shadow: var(--shadow-border-glow);
    
    @media (min-width: var.$breakpoint-md) {
        width: 100%;
        max-width: var.$max-width-content; 
    }

    @media (max-width: var.$breakpoint-md) {
        width: 80%;
        padding: var.$spacing-sm var.$spacing-md;
        max-width: var.$max-width-content; 
    }
        
    @media (max-height: var.$breakpoint-height-sm) {
        width: 100%;
        max-width: var.$max-width-content; 
        margin: 10px auto;
        overflow-y: auto;
    }
}

.formContainer{
    display: flex;
    flex-direction: column;
    gap: var.$spacing-md;
    align-self: stretch;
    width: 100%;
}

.inputEmail {
    padding: var.$spacing-sm;
    border: 1px solid var(--color-border);
    border-radius: var.$radius-sm;
    font-size: var.$font-size-md;
    font-family: var.$font-family-base;
    background-color: transparent;
    color: var(--color-text-main);
}

.inputEmail:focus-within {
    outline: none;
    box-shadow: none;
    border-color: var(--color-primary);
}

.infoText {
    font-size: var.$font-size-md;
    font-family: var.$font-family-base;
    color: var(--color-text-secondary);
    margin-bottom: var.$spacing-md;
    text-align: left;
    min-width: var.$min-width-input;

    @media (max-width: var.$breakpoint-md) {
        margin-bottom: var.$spacing-sm;
        text-align: center;
    }
}
