@use '../styles/abstracts/variables' as var;

$success-color: var(--color-success);
$error-color: var(--color-error);
$warning-color: var(--color-warning);
$info-color: var.$color-text-muted-light;

$popup-colors: (
  success: $success-color,
  error: $error-color,
  warning: $warning-color,
  info: $info-color
);

.popUp {
  position: fixed;
  bottom: 120px;
  left: 55%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  background-color: var.$color-surface-light;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 12px 16px 12px 12px;
  min-width: 320px;
  max-width: 480px;
  z-index: 9999;
  border-left: 8px solid transparent;
  
  animation: slideUp 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;

  // Schließen-Animation
  &.isClosing {
    animation: fadeOutDown 0.3s ease-in forwards;
  }

  // Generiert die Klassen .success, .error, etc.
  @each $type, $color in $popup-colors {
    &.#{$type} {
      border-left-color: $color;
    }
  }

    // Smartphone (vertikal)
    @media (min-width: var.$breakpoint-xs) and (max-width: var.$breakpoint-sm){
      bottom: 95px;
      left: 50%;
    }

    // Smartphone (horizontal)
    @media (min-width: var.$breakpoint-sm) and (max-width: var.$breakpoint-lg) and (max-height: var.$breakpoint-height-sm) {
      bottom: 50px;
      left: 50%;
    }

}

.content {
  flex-grow: 1;
  font-size: 16px;
  color: var.$color-text-muted-light;
  line-height: 1.4;
  white-space: pre-line;
  padding-right: 15px;
}

.closeBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0px 5px;
  background: none;
  border: none;
  font-size: 20px;
  color: var.$color-text-muted-light;
  cursor: pointer;
  margin-left: 12px;
  
  &:hover {
    color: var(--color-text-main);
  }
}

@keyframes slideUp {
  from { opacity: 0; transform: translate(-50%, 60px); }
  to { opacity: 1; transform: translate(-50%, 0); }
}

@keyframes fadeOutDown {
  from { opacity: 1; transform: translate(-50%, 0); }
  to { opacity: 0; transform: translate(-50%, 60px); }
}

