@use '../styles/abstracts/variables' as var;
@use '../styles/abstracts/mixins' as mixin;

.dialogContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    min-height: 10vh;
    min-width: calc(var.$breakpoint-sm - (2.65 * var.$spacing-lg));
    max-width: 100%;
    border: 1px solid var(--color-border);
    border-radius: var.$radius-md;
    padding: var.$spacing-lg;
    background-image: var(--app-background-image);
    background-color: var.$color-surface-light;
    box-shadow: var(--shadow-border-glow);
    z-index: 100;
    @include mixin.responsive-input-container;
}

.textContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var.$spacing-md;
    width: 100%;
}

.dialogText {
    font-size: var.$font-size-md;
    font-weight: var.$font-weight-medium;
    font-family: var.$font-family-base;
    color: var(--color-text-main);
    margin: 0;
}