@use '../styles/abstracts/variables' as var;
@use '../styles/abstracts/mixins' as mixin;

.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    min-height: 50vh;
    min-width: calc(var.$breakpoint-sm - (2.65 * var.$spacing-lg));
    max-width: 100%;
    border: 1px solid var(--color-border);
    border-radius: var.$radius-md;
    padding: var.$spacing-lg;
    background-image: var(--app-background-image);
    background-color: var.$color-surface-light;
    box-shadow: var(--shadow-border-glow);
    
    @include mixin.responsive-input-container;
}

.formContainer{
    display: flex;
    flex-direction: column;
    gap: var.$spacing-md;
    align-self: stretch;
    width: 100%;
}

.inputName {
    padding: var.$spacing-sm;
    border: 1px solid var(--color-border);
    border-radius: var.$radius-sm;
    font-size: var.$font-size-md;
    font-family: var.$font-family-base;
    background-color: transparent;
    color: var(--color-text-main);
}

.inputName:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--color-primary);
}

.inputPassword {
    padding: var.$spacing-sm;
    border: none;
    width: 100%;
    font-size: var.$font-size-md;
    font-family: var.$font-family-base;
    background-color: transparent;
    color: var(--color-text-main);
}

.inputPassword:focus {
  outline: none;
  box-shadow: none;
}

.inputEmail {
    padding: var.$spacing-sm;
    border: 1px solid var(--color-border);
    border-radius: var.$radius-sm;
    font-size: var.$font-size-md;
    font-family: var.$font-family-base;
    background-color: transparent;
    color: var(--color-text-main);
}

.inputEmail:focus-within {
    outline: none;
    box-shadow: none;
    border-color: var(--color-primary);
}

.passwordField{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    gap: var.$spacing-sm;
    border: 1px solid var(--color-border);
    border-radius: var.$radius-sm;
}

.passwordField:focus-within {
  border-color: var(--color-primary);
}

.togglePasswordBtn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 15px;
    border: none;
    background-color: transparent;
}

.privacyContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var.$spacing-sm;
    font-size: var.$font-size-sm;
    margin-top: var.$spacing-sm;

    & input[type='checkbox'] {
        margin-top: 2px;
    }

    & span {
        color: var(--color-text-main);
    }

    & a {
        color: var(--color-primary);
        text-decoration: underline;
    }

    @media (max-width: var.$breakpoint-md) {
        font-size: var.$font-size-xs;
    }
}