// Farbpallete
$color-primary-light: #5FC8DE;
$color-primary-light-hover: #669DF6;
$color-background-light: #ebebeb;
$color-surface-light: #ffffff;
$color-text-main-light: #000000;
$color-text-muted-light: #666666;
$color-error-light: #d72222;
$color-warning-light: #EA7C30;
$color-success-light: #28A745;

$color-primary-dark: #669DF6;
$color-primary-dark-hover: #427FE8;
$color-background-dark: #151820;
$color-surface-dark: #324F56;
$color-text-main-dark: #ffffff;
$color-text-muted-dark: rgba(255, 255, 255, 0.8);
$color-error-dark: #ec0000;
$color-warning-dark: #f8802b;
$color-success-dark: #62BF61;

// Schriftarten
$font-family-base: 'Inter Variable', system-ui, -apple-system, sans-serif;

// Schriftgrößen
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;

// Abstände
$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
$spacing-xl: 4rem;

// Border Radius
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 16px;