@use '../abstracts/variables' as var; // Zugriff auf Variablen

:root {
  font-family: var.$font-family-base;
  line-height: 1.5;
  font-weight: 400;

  color: var.$color-text-main;
  background-color: var.$color-background;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
