@use '../styles/abstracts/variables' as var;
@use '../styles/abstracts/mixins' as mixin;

.pageContainer {

    @include mixin.responsive-view-container;

    // Smartphone (standard)
    @media (max-width: var.$breakpoint-sm) {
        max-width: 370px;
    }
    
    // Smartphone (max)
    @media (min-width: 400px) and (max-width: var.$breakpoint-sm) {
        max-width: 380px;
    }

    // Smartphone (horizontal)
    @media (min-width: var.$breakpoint-sm) and (max-width: var.$breakpoint-lg) and (max-height: var.$breakpoint-height-sm) {
        max-width: 480px;
    }

    // Tablet Mini
    @media (max-width: var.$breakpoint-md) and (min-width: var.$breakpoint-sm) {
        max-width: 460px;
    }

    @include mixin.custom-scrollbar;
}

.calculationButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: var.$spacing-lg;

    // Smartphone
    @media (max-width: var.$breakpoint-sm) {
        flex-direction: column;
        gap: 0px;
    }
}