@use '../styles/abstracts/variables' as var;
@use '../styles/abstracts/mixins' as mixin;

.pageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var.$spacing-md;
    align-items: flex-start;
    min-height: 50vh;
    min-width: var.$breakpoint-lg;
    max-width: var.$max-width-container;
    max-height: 95vh;
    width: 95%;
    height: 90%;
    border: 1px solid var(--color-border);
    border-radius: var.$radius-md;
    padding: var.$spacing-lg;
    background-image: var(--app-background-image);
    background-color: var.$color-surface-light;
    box-shadow: var(--shadow-border-glow);
    overflow-y: auto;
    z-index: 1;
    
    @include mixin.responsive-page-container;
}

.overViewContainer {
    display: flex;
    flex-direction: column;
    gap: var.$spacing-lg;
    align-items: center;
    width: 100%;
    height: 100%;

    // Smartphone
    @media (max-width: var.$breakpoint-sm) {
        gap: var.$spacing-md;
    }
}

.dashboardContentArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;;
    min-width: var.$breakpoint-xs;
    max-width: var.$breakpoint-md;
    width: 100%;
}