@use '../styles/abstracts/variables' as var;

.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    min-width: calc(var.$breakpoint-sm - (2.65 * var.$spacing-lg));
    max-width: 100%;
    border: 1px solid var(--color-border);
    border-radius: var.$radius-md;
    padding: var.$spacing-lg;
    background-image: var(--app-background-image);
    background-color: var.$color-surface-light;
    box-shadow: var(--shadow-border-glow);
    
    @media (min-width: var.$breakpoint-md) {
        width: 100%;
        max-width: var.$max-width-content; 
    }
}

.formContainer{
    display: flex;
    flex-direction: column;
    gap: var.$spacing-md;
    align-self: stretch;
    width: 100%;
}

.input {
    padding: var.$spacing-sm;
    border: 1px solid var(--color-border);
    border-radius: var.$radius-sm;
    font-size: var.$font-size-md;
    font-family: var.$font-family-base;
    background-color: transparent;
    color: var(--color-text-main);
}

.primaryBtn{
    padding: var.$spacing-sm;
    border: none;
    text-align: center;
    margin: var.$spacing-md 0;
    border-radius: var.$radius-sm;
    font-size: var.$font-size-md;
    font-weight: var.$font-weight-medium;
    font-family: var.$font-family-base;
    background-color: var(--color-primary);
    color: var(--color-button-text);
    cursor: pointer;
    
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    &:hover{
        background-color: var(--color-primary-hover);
        box-shadow: var(--shadow-border-glow);
    }
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var.$spacing-sm;
    font-size: var.$font-size-sm;
    width: 100%;
    padding: var.$spacing-sm;
    
    a {
        color: var(--color-primary);
        text-decoration: none;
        transition: color 0.3s ease;
        
        &:hover {
            color: var(--color-primary-hover);
        }
    }
}