@use '../styles/abstracts/variables' as var;
@use '../styles/abstracts/mixins' as mixin;

.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var.$spacing-lg;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    // Smartphone (standard)
    @media (max-width: var.$breakpoint-sm) {
        max-width: 370px;
    }
    
    // Smartphone (max)
    @media (min-width: 400px) and (max-width: var.$breakpoint-sm) {
        max-width: 380px;
    }

    // Smartphone (horizontal)
    @media (min-width: var.$breakpoint-sm) and (max-width: var.$breakpoint-lg) and (max-height: var.$breakpoint-height-sm) {
        max-width: 480px;
    }
}
